@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.bg_gradient_header {
  background: linear-gradient(
    268.78deg,
    rgba(109, 149, 252, 0.67) -53.1%,
    rgba(109, 149, 252, 0.231593) 1.55%,
    rgba(109, 149, 252, 0) 30.41%
  );
}

.bg_gradient_about {
  background: linear-gradient(
    273.72deg,
    rgba(109, 149, 252, 0.26) 6.51%,
    rgba(109, 149, 252, 0) 57.56%
  );
  transform: rotate(180deg);
}

.bg_gradient_stats {
  background: linear-gradient(
    90deg,
    #6d95fc -127.55%,
    rgba(21, 21, 21, 0.35) 77.97%
  );
  transform: rotate(180deg);
}

.bg_gradient_footer {
  background: #6d95fc;
  filter: blur(250px);
}

.bg_gradient {
  background: linear-gradient(
    223.47deg,
    rgba(109, 149, 252, 0.24) 3.19%,
    rgba(21, 21, 21, 0) 61.55%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
}
