@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.bg_gradient_header {
  background: linear-gradient(
    268.78deg,
    rgba(109, 149, 252, 0.67) -53.1%,
    rgba(109, 149, 252, 0.231593) 1.55%,
    rgba(109, 149, 252, 0) 30.41%
  );
}

.bg_gradient_about {
  background: linear-gradient(
    90deg,
    rgba(109, 149, 252, 0.26) 6.51%,
    rgba(109, 149, 252, 0) 57.56%
  );
}

.bg_gradient_stats {
  background: linear-gradient(
    -90deg,
    #6d95fc -127.55%,
    rgba(21, 21, 21, 0.35) 77.97%
  );
}

.bg_gradient_testimonials {
  background: linear-gradient(
    175.64deg,
    rgba(17, 24, 42, 0.7) 19.67%,
    rgba(17, 24, 42, 0) 121.51%
  );
}

.bg_gradient_footer {
  background: #6d95fc;
  filter: blur(250px);
}

.bg_gradient_experience_top {
  background: linear-gradient(
    227.54deg,
    rgba(109, 149, 252, 0.24) 4.35%,
    rgba(21, 21, 21, 0) 68.03%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
  filter: blur(92px);
}

.bg_gradient_experience_bottom {
  background: linear-gradient(
    223.47deg,
    rgba(109, 149, 252, 0.24) 3.19%,
    rgba(21, 21, 21, 0) 61.55%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  filter: blur(92px);
}

.bg_gradient_form_top {
  background: linear-gradient(
    223.47deg,
    rgba(109, 149, 252, 0.24) 3.19%,
    rgba(21, 21, 21, 0) 61.55%
  );
  filter: blur(92px);
}

.bg_gradient_feature_1 {
  background: linear-gradient(
    90deg,
    rgba(109, 149, 252, 0.35) -346.67%,
    rgba(21, 21, 21, 0.31) 74.83%
  );
}

.bg_gradient_feature_2 {
  background: linear-gradient(
    180deg,
    rgba(109, 149, 252, 0.55) -217.33%,
    rgba(109, 149, 252, 0) 66.64%
  );
}

.bg_gradient_feature_3 {
  background: linear-gradient(
    2.42deg,
    rgba(109, 149, 252, 0.55) -180.08%,
    rgba(109, 149, 252, 0) 67.52%
  );
}

.bg_gradient_feature_4 {
  background: linear-gradient(
    rgba(109, 149, 252, 0.35) -292.67%,
    rgba(21, 21, 21, 0.31) 74.83%
  );
}

.bg_gradient_form {
  background: linear-gradient(
    179.96deg,
    #12192b 0.03%,
    rgba(18, 25, 43, 0) 109.04%
  );
}
